.git
.github
.paperclip
.pnpm-store
.turbo
**/.turbo
node_modules
**/node_modules
.env
.env.*
**/.env
**/.env.*
!.env.example
!.env.*.example
!**/.env.example
!**/.env.*.example
coverage
data
tmp
*.log
